body {
    min-width: 450px;
    padding: 20px;
    min-height: 100px;
}

.card img {
    width: auto;
    height: 50px;
    text-align: center;
}
.row {
    margin: 10px 0;
}
.row a {
   margin: 30px; 
   color: inherit;
}
.col-3 img {
    width: 40px;
    height: 40px;
    transition: .3s ease-in-out;
}

.fab {
    font-size: 30px;
    transition: .3s ease-in-out;
}

.fab:hover , .col-3 img:hover{
    transform: scale(1.4);
}